body {
        font-family: Arial, sans-serif;
        background-color: #000000;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    header {
        background: linear-gradient(to bottom, #b67600, #b67600, #b67600);
        color: #4b4b4b;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
    }

    .header img {
        width: 500px;
        height: 80px;
        border-radius: 50%;
    }
    
    
    main {
        flex: 1;
        background-color: #1d1d1d;
        padding: 3px;
        margin: 5px;
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(255, 134, 20, 0.2);
        text-align: left;
    }
    
    .bitcoin-logo {
        display: block;
        margin: 0 auto;
        width: 200px;
    }
    
    p {
        font-size: 18px;
        color: white;
        margin-top: 30px;
        text-align: center;
    }
    
    label {
        font-weight: bold;
        color: white;
    }
    
    input[type="email"] {
        height: 40px;
        padding: 6px;
        margin-bottom: 10px;
        border: 2px solid #727272;
        border-radius: 5px;
        height: 2vh;
        align-items: center;
    }
    
    button {
        background-color: #f7931a;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #e57c00;
    }
    
    .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 47vh; /* makes it fill the entire viewport height */
    overflow: hidden; /* prevents scrolling */
    color: white;
    }
    
    .player-card {
    border: 1px solid #474747;
    padding: 20px;
    background-color: rgba(17, 17, 17, 0.863);
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    width: 220px;
    height: 250px;
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* smooth transition for transform and box-shadow */
    will-change: transform, box-shadow; /* optimizes animations by letting the browser know which properties are expected to change */
    cursor: pointer;
    justify-content: space-around;
    }
    
    .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    }
    
    .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* semi-transparent black background */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* hidden by default */
    transition: opacity 0.3s ease-in-out;
    }
    
    .player-card:hover .overlay {
        opacity: 1; /* show on hover */
    }
    
    .player-card img {
        filter: grayscale(100%);
        transition: transform 0.3s ease-in-out;
    }
    
    .player-card:hover img {
        filter: grayscale(0%);
        transform: scale(1.05);
        transform: rotate(360deg);
    }
    
    .player-card img {
        max-width: 150px;
        height: auto;
        border-radius: 50%;
    }
    
    
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
        position: sticky;;
    }

    .unsere-werte img{

        width: 200px;
        height: auto;
    }

    .about-us-section {
        display: flex;
        flex-direction: column;
        align-items: left;/* Center horizontally */
    }
    
    .unsere-werte {
        display:flex;
        align-items: center;
        margin-bottom: 30px; /* Add some spacing between team members */
    }
    
    #image-on-right {
        flex-direction: row-reverse; /* Move the second image to the right */
    }

    #scroll-fade {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
        pointer-events: none;
        z-index: 1;
        transition: height 0.5s ease; /* Adjust the duration and easing as needed */
    }
    
    .tr {
        transform:
          rotateX(51deg)
          rotateZ(43deg);
        transform-style: preserve-3d;
        border-radius: 32px;
        box-shadow:
          1px 1px 0 1px #f9f9fb,
          -1px 0 28px 0 rgba(34, 33, 81, 0.01),
          28px 28px 28px 0 rgba(34, 33, 81, 0.25);
        transition:
          .4s ease-in-out transform,
          .4s ease-in-out box-shadow;
          border: 1px solid #474747;
          padding: 20px;
          background-color: rgba(17, 17, 17, 0.863);
          border-radius: 8px;
          text-align: center;
          overflow: hidden;
          width: 220px;
          height: 250px;
          position: relative;
          transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* smooth transition for transform and box-shadow */
          will-change: transform, box-shadow; /* optimizes animations by letting the browser know which properties are expected to change */
          cursor: pointer;
          justify-content: space-around;
          color: white;
    }     
        .tr:hover {
          transform:
            translate3d(0px, -16px, 0px)
            rotateX(51deg)
            rotateZ(43deg);
          box-shadow:
            1px 1px 0 1px #f9f9fb,
            -1px 0 28px 0 rgba(34, 33, 81, 0.01),
            54px 54px 28px -10px rgba(34, 33, 81, 0.15);
        }

        .tr img {
            filter: grayscale(100%);
            transition: transform 0.3s ease-in-out;
            max-width: 150px;
        height: auto;
        border-radius: 50%;
        }

        .tr:hover img {
            filter: grayscale(0%);
            transform: scale(1.05);
        }